.footer {
  padding: 50px 0 40px 0;
  background-image: linear-gradient(
                  135deg,
                  var(--color-blue),
                  var(--color-purple)
  );
}

.footer-created {
  display: flex;
}

.footer-created__text,
.footer-created__img-holder {

}

.footer-created__text {

}

.footer-created__img-holder {
  padding-right: 15px;
}


.footer-created__img {
  width: 75px;
}