.loading-spinner-text {
  text-align: center;
  font-weight: 300;
  font-size: 1.4em;
}

.loading-spinner-icon {
  display: block;
  margin: 0 auto;
  font-size: 2.6em;
  color: var(--color-purple);
}