:root {
  --color-blue: #1da1f2;
  --color-purple: #794bc4;
  --color-dark: #34495e; }

.search {
  padding: 50px 0;
  background-image: linear-gradient(135deg, var(--color-blue), var(--color-purple)); }
