<h2 class="h4">CSS</h3>
<hr>
<ul class="list-unstyled">
    <li data-search-result="article">
        <a rel="noopener" href="https://scotch.io/tutorials/a-visual-guide-to-css3-flexbox-properties" class="article-block">
            <i class="fas fa-book article-block__icon"></i>
            <div class="article-block__text">
                <p class="article-block__text-title">A visual guide to CSS flexbox</p>
                <p class="article-block__text-description">A guide on using flexbox</p>
            </div>
        </a>
    </li>
    <li data-search-result="article">
        <a rel="noopener" href="http://chrisdermody.com/animated-svg-loader-mydevportfol-io/" class="article-block">
            <i class="fas fa-book article-block__icon"></i>
            <div class="article-block__text">
                <p class="article-block__text-title">Animated SVG loader guide</p>
                <p class="article-block__text-description">How to make an animated SVG loading symbol</p>
            </div>
        </a>
    </li>
    <li data-search-result="article">
        <a rel="noopener" href="https://scotch.io/tutorials/default-sizes-for-twitter-bootstraps-media-queries" class="article-block">
            <i class="fas fa-book article-block__icon"></i>
            <div class="article-block__text">
                <p class="article-block__text-title">Bootstrap 3 breakpoint media queries</p>
                <p class="article-block__text-description">A list of media queries used by bootstrap 3</p>
            </div>
        </a>
    </li>
    <li data-search-result="article">
        <a rel="noopener" href="http://codersblock.com/blog/checkbox-trickery-with-css/" class="article-block">
            <i class="fas fa-book article-block__icon"></i>
            <div class="article-block__text">
                <p class="article-block__text-title">Checkbox trickery with css</p>
                <p class="article-block__text-description">Make custom Checkboxes with CSS</p>
            </div>
        </a>
    </li>
    <li data-search-result="article">
        <a rel="noopener" href="https://blog.newrelic.com/2017/07/27/css-versioning-conflicts/" class="article-block">
            <i class="fas fa-book article-block__icon"></i>
            <div class="article-block__text">
                <p class="article-block__text-title">Versioning conflicts</p>
                <p class="article-block__text-description">Solving CSS versioning conflicts</p>
            </div>
        </a>
    </li>
    <li data-search-result="article">
        <a rel="noopener" href="https://tympanus.net/codrops/2017/03/15/stack-motion-hover-effects/" class="article-block">
            <i class="fas fa-book article-block__icon"></i>
            <div class="article-block__text">
                <p class="article-block__text-title">Stack motion hover effects</p>
                <p class="article-block__text-description">Experimental hover effects that reveal stacks of colored cards</p>
            </div>
        </a>
    </li>
    <li data-search-result="article">
        <a rel="noopener" href="https://j.eremy.net/confused-about-rem-and-em/" class="article-block">
            <i class="fas fa-book article-block__icon"></i>
            <div class="article-block__text">
                <p class="article-block__text-title">Confused about rem and em</p>
                <p class="article-block__text-description">Wrapping your heada around rem and em article</p>
            </div>
        </a>
    </li>
    <li data-search-result="website">
        <a rel="noopener" href="https://flexbox.io/" class="article-block">
            <i class="fas fa-globe article-block__icon"></i>
            <div class="article-block__text">
                <p class="article-block__text-title">Flexbox.io</p>
                <p class="article-block__text-description">Free 20 video course that will help you master CSS Flexbox!</p>
            </div>
        </a>
    </li>
    <li data-search-result="website">
        <a rel="noopener" href="https://cssgrid.io" class="article-block">
            <i class="fas fa-globe article-block__icon"></i>
            <div class="article-block__text">
                <p class="article-block__text-title">cssgrid.io</p>
                <p class="article-block__text-description">Learn CSS Grid with Wes Bos in 25 pretty good videos!</p>
            </div>
        </a>
    </li>
    <li data-search-result="website"><a rel="noopener"></a>
        <a rel="noopener" href="https://daneden.github.io/animate.css/" class="article-block">
            <i class="fas fa-globe article-block__icon"></i>
            <div class="article-block__text">
                <p class="article-block__text-title">Animate.css</p>
                <p class="article-block__text-description">A cross-browser library of CSS animations</p>
            </div>
        </a>
    </li>
    <li data-search-result="website">
        <a rel="noopener" href="http://getbem.com/" class="article-block">
            <i class="fas fa-globe article-block__icon"></i>
            <div class="article-block__text">
                <p class="article-block__text-title">BEM CSS</p>
                <p class="article-block__text-description">A CSS methodology that helps you to create reusable components</p>
            </div>
        </a>
    </li>
    <li data-search-result="website">
        <a rel="noopener" href="http://codeguide.co/" class="article-block">
            <i class="fas fa-globe article-block__icon"></i>
            <div class="article-block__text">
                <p class="article-block__text-title">Code guide by Mdo</p>
                <p class="article-block__text-description">An HTML and CSS code guide for better structure</p>
            </div>
        </a>
    </li>
    <li data-search-result="website">
        <a rel="noopener" href="http://epic-spinners.epicmax.co/#/" class="article-block">
            <i class="fas fa-globe article-block__icon"></i>
            <div class="article-block__text">
                <p class="article-block__text-title">Epic spinners</p>
                <p class="article-block__text-description">Pure CSS and html loading spinners</p>
            </div>
        </a>
    </li>
    <li data-search-result="website">
        <a rel="noopener" href="http://necolas.github.io/normalize.css/" class="article-block">
            <i class="fas fa-globe article-block__icon"></i>
            <div class="article-block__text">
                <p class="article-block__text-title">Normalize css</p>
                <p class="article-block__text-description">A modern alternative to CSS resets</p>
            </div>
        </a>
    </li>
    <li data-search-result="website">
        <a rel="noopener" href="https://picturepan2.github.io/instagram.css/" class="article-block">
            <i class="fas fa-globe article-block__icon"></i>
            <div class="article-block__text">
                <p class="article-block__text-title">Instagram CSS</p>
                <p class="article-block__text-description">Pure CSS instagram filters</p>
            </div>
        </a>
    </li>
    <li data-search-result="webapp">
        <a rel="noopener" href="http://angrytools.com/css-generator/gradient/" class="article-block">
            <i class="fas fa-cogs article-block__icon"></i>
            <div class="article-block__text">
                <p class="article-block__text-title">Gradient generator (static)</p>
                <p class="article-block__text-description">Web application to make gradients</p>
            </div>
        </a>
    </li>
    <li data-search-result="webapp">
        <a rel="noopener" href="https://www.gradient-animator.com/" class="article-block">
            <i class="fas fa-cogs article-block__icon"></i>
            <div class="article-block__text">
                <p class="article-block__text-title">Gradient generator (animated)</p>
                <p class="article-block__text-description">Web application to make animated gradients</p>
            </div>
        </a>
    </li>
    <li data-search-result="webapp">
        <a rel="noopener" href="http://triangle.designyourcode.io/" class="article-block">
            <i class="fas fa-cogs article-block__icon"></i>
            <div class="article-block__text">
                <p class="article-block__text-title">Triangle generator</p>
                <p class="article-block__text-description">CSS triangle generator</p>
            </div>
        </a>
    </li>
    <li data-search-result="webapp">
        <a rel="noopener" href="https://loading.io/spinner/" class="article-block">
            <i class="fas fa-cogs article-block__icon"></i>
            <div class="article-block__text">
                <p class="article-block__text-title">Loading.io</p>
                <p class="article-block__text-description">Custom loading animations</p>
            </div>
        </a>
    </li>
    <li data-search-result="webapp">
        <a rel="noopener" href="http://animista.net/" class="article-block">
            <i class="fas fa-cogs article-block__icon"></i>
            <div class="article-block__text">
                <p class="article-block__text-title">Animista</p>
                <p class="article-block__text-description">Custom CSS animations generator</p>
            </div>
        </a>
    </li>
    <li data-search-result="webapp">
        <a rel="noopener" href="http://pleeease.io/play/" class="article-block">
            <i class="fas fa-cogs article-block__icon"></i>
            <div class="article-block__text">
                <p class="article-block__text-title">pleeease.io</p>
                <p class="article-block__text-description">CSS Autoprefixer</p>
            </div>
        </a>
    </li>
</ul>
