<h2 class="h4">CSS-JS</h3>
<hr>
<ul class="list-unstyled">
    <li data-search-result="website">
        <a rel="noopener" href="https://imperavi.com/kube/" class="article-block">
            <i class="fas fa-globe article-block__icon"></i>
            <div class="article-block__text">
                <p class="article-block__text-title">Kube</p>
                <p class="article-block__text-description">A CSS and JS framework</p>
            </div>
        </a>
    </li>
    <li data-search-result="website">
        <a rel="noopener" href="https://webkul.github.io/micron/" class="article-block">
            <i class="fas fa-globe article-block__icon"></i>
            <div class="article-block__text">
                <p class="article-block__text-title">Micron</p>
                <p class="article-block__text-description">MicroInteraction library built with CSS Animations and JS</p>
            </div>
        </a>
    </li>
    <li data-search-result="website">
        <a rel="noopener" href="https://fbrctr.github.io/" class="article-block">
            <i class="fas fa-globe article-block__icon"></i>
            <div class="article-block__text">
                <p class="article-block__text-title">Fabricator</p>
                <p class="article-block__text-description">Generate a style guide from your toolkit code</p>
            </div>
        </a>
    </li>
    <li data-search-result="website">
        <a rel="noopener" href="https://stylelint.io/" class="article-block">
            <i class="fas fa-globe article-block__icon"></i>
            <div class="article-block__text">
                <p class="article-block__text-title">Stylelint</p>
                <p class="article-block__text-description">CSS linter and fixer that helps you avoid errors</p>
            </div>
        </a>
    </li>
    <li data-search-result="webapp">
        <a rel="noopener" href="https://www.caniuse.com/" class="article-block">
            <i class="fas fa-cogs article-block__icon"></i>
            <div class="article-block__text">
                <p class="article-block__text-title">CanIUse</p>
                <p class="article-block__text-description">web app for seeing which browser supports which features</p>
            </div>
        </a>
    </li>
</ul>