<h2 class="h4">HTML</h3>
<hr>
<ul class="list-unstyled">
    <li data-search-result="article"><a href="https://gethead.info/">getHead</a></li>
    <li data-search-result="article"><a href="https://pageclip.co/blog/2018-02-20-you-should-use-html5-form-validation.html">HTML form validation</a></li>
    <li data-search-result="website"><a href="http://codeguide.co/">Code guide by Mdo</a></li>
    <li data-search-result="website"><a href="http://html5pattern.com/">HTML5Pattern</a></li>
    <li data-search-result="website"><a href="https://www.srihash.org/">srishash</a></li>
</ul>