<h2 class="h4">HTML</h3>
<hr>
<ul class="list-unstyled">
    <li data-search-result="article">
        <a rel="noopener" href="https://gethead.info/" class="article-block">
            <i class="fas fa-book article-block__icon"></i>
            <div class="article-block__text">
                <p class="article-block__text-title">GetHead</p>
                <p class="article-block__text-description">A guide to &lt;head> elements</p>
            </div>
        </a>
    </li>
    <li data-search-result="article">
        <a rel="noopener" href="https://pageclip.co/blog/2018-02-20-you-should-use-html5-form-validation.html" class="article-block">
            <i class="fas fa-book article-block__icon"></i>
            <div class="article-block__text">
                <p class="article-block__text-title">HTML form validation</p>
                <p class="article-block__text-description">Reference and guide about html form validation</p>
            </div>
        </a>
    </li>
    <li data-search-result="website">
        <a rel="noopener" href="http://codeguide.co/" class="article-block">
            <i class="fas fa-globe article-block__icon"></i>
            <div class="article-block__text">
                <p class="article-block__text-title">Code guide by Mdo</p>
                <p class="article-block__text-description">An HTML and CSS code guide for better structure</p>
            </div>
        </a>
    </li>
    <li data-search-result="website">
        <a rel="noopener" href="http://html5pattern.com/" class="article-block">
            <i class="fas fa-globe article-block__icon"></i>
            <div class="article-block__text">
                <p class="article-block__text-title">HTML5Pattern</p>
                <p class="article-block__text-description">HTML5Pattern is a source of regularly used Input-Patterns</p>
            </div>
        </a>
    </li>
    <li data-search-result="website">
        <a rel="noopener" href="https://www.srihash.org/" class="article-block">
            <i class="fas fa-globe article-block__icon"></i>
            <div class="article-block__text">
                <p class="article-block__text-title">srihash</p>
                <p class="article-block__text-description">SRI Hash generator</p>
            </div>
        </a>
    </li>
</ul>