<h2 class="h4">ICONS/SVG</h3>
<hr>
<ul class="list-unstyled">
    <li data-search-result="website">
        <a rel="noopener" href="https://simplesvg.com/icon-sets/" class="article-block">
            <i class="fas fa-globe article-block__icon"></i>
            <div class="article-block__text">
                <p class="article-block__text-title">Simplesvg</p>
                <p class="article-block__text-description">SVG base icon sets</p>
            </div>
        </a>
    </li>
    <li data-search-result="website">
        <a rel="noopener" href="https://octicons.github.com/" class="article-block">
            <i class="fas fa-globe article-block__icon"></i>
            <div class="article-block__text">
                <p class="article-block__text-title">Octicons</p>
                <p class="article-block__text-description">Your project. GitHub's icons</p>
            </div>
        </a>
    </li>
    <li data-search-result="website">
        <a rel="noopener" href="https://undraw.co/" class="article-block">
            <i class="fas fa-globe article-block__icon"></i>
            <div class="article-block__text">
                <p class="article-block__text-title">unDraw</p>
                <p class="article-block__text-description">Updated collection of SVG images that you can use for free.</p>
            </div>
        </a>
    </li>
</ul>