<h2 class="h4">JS</h3>
<hr>
<ul class="list-unstyled">
    <li data-search-result="article">
        <a rel="noopener" href="https://medium.com/@ryanchenkie_40935/angular-cli-deployment-host-your-angular-2-app-on-heroku-3f266f13f352" class="article-block">
            <i class="fas fa-book article-block__icon"></i>
            <div class="article-block__text">
                <p class="article-block__text-title">Deploy Angular 2 CLI app on heroku</p>
                <p class="article-block__text-description">How to deploy Angular 2 CLI app on heroku</p>
            </div>
        </a>
    </li>
    <li data-search-result="website">
        <a rel="noopener" href="https://nodemailer.com/about/" class="article-block">
            <i class="fas fa-globe article-block__icon"></i>
            <div class="article-block__text">
                <p class="article-block__text-title">Nodemailer</p>
                <p class="article-block__text-description">Easy as cake email sending</p>
            </div>
        </a>
    </li>
    <li data-search-result="website">
        <a rel="noopener" href="https://kryogenix.org/code/browser/sorttable/" class="article-block">
            <i class="fas fa-globe article-block__icon"></i>
            <div class="article-block__text">
                <p class="article-block__text-title">sorttable</p>
                <p class="article-block__text-description">VanillaJS table-sorting plugin</p>
            </div>
        </a>
    </li>
    <li data-search-result="website">
        <a rel="noopener" href="https://sweetalert2.github.io/" class="article-block">
            <i class="fas fa-globe article-block__icon"></i>
            <div class="article-block__text">
                <p class="article-block__text-title">SweetAlert2</p>
                <p class="article-block__text-description">Replacement for JavaScript's popup boxes.</p>
            </div>
        </a>
    </li>
    <li data-search-result="website">
        <a rel="noopener" href="https://developers.google.com/web/fundamentals/codelabs/your-first-pwapp/" class="article-block">
            <i class="fas fa-globe article-block__icon"></i>
            <div class="article-block__text">
                <p class="article-block__text-title">Your first PWA</p>
                <p class="article-block__text-description">A tutorial for creating your first PWA</p>
            </div>
        </a>
    </li>
    <li data-search-result="code">
        <a rel="noopener" href="https://gist.github.com/johan/2047491" class="article-block">
            <i class="fas fa-code article-block__icon"></i>
            <div class="article-block__text">
                <p class="article-block__text-title">IOS Double tap fix</p>
                <p class="article-block__text-description">A jQuery plugin to selectively disable the iOS double-tap-to-zoom</p>
            </div>
        </a>
    </li>
    <li data-search-result="code">
        <a rel="noopener" href="https://github.com/atomiks/tippyjs" class="article-block">
            <i class="fas fa-code article-block__icon"></i>
            <div class="article-block__text">
                <p class="article-block__text-title">tippyjs</p>
                <p class="article-block__text-description">A lightweight, vanilla JS tooltip library</p>
            </div>
        </a>
    </li>
    <li data-search-result="code">
        <a rel="noopener" href="http://www.phpied.com/files/countries/list.json" class="article-block">
            <i class="fas fa-code article-block__icon"></i>
            <div class="article-block__text">
                <p class="article-block__text-title">JSON country list</p>
                <p class="article-block__text-description">An updated JSON Country List</p>
            </div>
        </a>    
    </li>
    <li data-search-result="code">
        <a rel="noopener" href="https://eslint.org/" class="article-block">
            <i class="fas fa-code article-block__icon"></i>
            <div class="article-block__text">
                <p class="article-block__text-title">ESlint</p>
                <p class="article-block__text-description">The pluggable linting utility for JS and JSX</p>
            </div>
        </a>    
    </li>
</ul>