<h2 class="h4">JS</h3>
<hr>
<ul class="list-unstyled">
    <li data-search-result="article"><a rel="noopener" href="https://medium.com/@ryanchenkie_40935/angular-cli-deployment-host-your-angular-2-app-on-heroku-3f266f13f352">Deploy Angular 2 CLI app on heroku</a></li>
    <li data-search-result="website"><a rel="noopener" href="https://nodemailer.com/about/">NodeMailer</a></li>
    <li data-search-result="website"><a rel="noopener" href="https://kryogenix.org/code/browser/sorttable/">sorttable</a></li>
    <li data-search-result="website"><a rel="noopener" href="https://sweetalert2.github.io/">sweetalert2</a></li>
    <li data-search-result="website"><a rel="noopener" href="https://developers.google.com/web/fundamentals/codelabs/your-first-pwapp/">Your first PWA</a></li>
    <li data-search-result="code"><a rel="noopener" href="https://gist.github.com/johan/2047491">IOS Double tap fix</a></li>
    <li data-search-result="code"><a rel="noopener" href="https://github.com/atomiks/tippyjs">tippyjs</a></li>
    <li data-search-result="code"><a rel="noopener" href="http://www.phpied.com/files/countries/list.json">JSON country list</a></li>
    <li data-search-result="code"><a rel="noopener" href="https://eslint.org/">ESLint</a></li>
</ul>