<h2 class="h4">MISCELLANEOUS</h3>
<hr>
<ul class="list-unstyled">
    <li data-search-result="article">
        <a rel="noopener" href="https://chris.beams.io/posts/git-commit/" class="article-block">
            <i class="fas fa-book article-block__icon"></i>
            <div class="article-block__text">
                <p class="article-block__text-title">Git commit</p>
                <p class="article-block__text-description">How to write a good git commit message</p>
            </div>
        </a>
    </li>
    <li data-search-result="website">
        <a rel="noopener" href="https://www.staticgen.com/" class="article-block">
            <i class="fas fa-globe article-block__icon"></i>
            <div class="article-block__text">
                <p class="article-block__text-title">StaticGen</p>
                <p class="article-block__text-description">Open source static site generators list</p>
            </div>
        </a>
    </li>
    <li data-search-result="webapp">
        <a rel="noopener" href="https://dillinger.io/" class="article-block">
            <i class="fas fa-cogs article-block__icon"></i>
            <div class="article-block__text">
                <p class="article-block__text-title">Dillinger.io</p>
                <p class="article-block__text-description">Markdown previewer</p>
            </div>
        </a>
    </li>
</ul>