<h2 class="h4">SASS</h3>
<hr>
<ul class="list-unstyled">
    <li data-search-result="article"><a rel="noopener" href="https://scotch.io/tutorials/using-sass-with-the-angular-cli">Using SASS with the angular cli</a></li>
    <li data-search-result="website"><a rel="noopener" href="https://sierra-library.github.io/">Sierra library</a></li>
    <li data-search-result="webapp"><a rel="noopener" href="https://www.sassmeister.com/">SassMeister</a></li>
    <li data-search-result="code"><a rel="noopener" href="https://gist.github.com/kieranmv95/99c5e4cb66ec76256b68600a5ee4e136">Spacing helper</a></li>
    <li data-search-result="code"><a rel="noopener" href="https://gist.github.com/kieranmv95/cc4b711f86981469f06bff2d6c674004">Triangles Mixin</a></li>
    <li data-search-result="code"><a rel="noopener" href="https://github.com/chandru89new/cards.sass">Cards UI</a></li>
    <li data-search-result="code"><a rel="noopener" href="https://gist.github.com/kieranmv95/8c5ff7fd0324814dcf69568bb1be370b">No flex centerin</a></li>
</ul>