<h2 class="h4">SASS</h3>
<hr>
<ul class="list-unstyled">
    <li data-search-result="article">
        <a rel="noopener" href="https://scotch.io/tutorials/using-sass-with-the-angular-cli" class="article-block">
            <i class="fas fa-book article-block__icon"></i>
            <div class="article-block__text">
                <p class="article-block__text-title">Using SASS with the angular cli</p>
                <p class="article-block__text-description">A guide on using SASS with the nagular CLI</p>
            </div>
        </a>
    </li>
    <li data-search-result="website">
        <a rel="noopener" href="https://sierra-library.github.io/" class="article-block">
            <i class="fas fa-globe article-block__icon"></i>
            <div class="article-block__text">
                <p class="article-block__text-title">Sierra library</p>
                <p class="article-block__text-description">The smallest and lightest SCSS library</p>
            </div>
        </a>
    </li>
    <li data-search-result="webapp">
        <a rel="noopener" href="https://www.sassmeister.com/" class="article-block">
            <i class="fas fa-cogs article-block__icon"></i>
            <div class="article-block__text">
                <p class="article-block__text-title">SassMeister</p>
                <p class="article-block__text-description">A web based playground for testing Sass creations</p>
            </div>
        </a>
    </li>
    <li data-search-result="code">
        <a rel="noopener" href="https://gist.github.com/kieranmv95/99c5e4cb66ec76256b68600a5ee4e136" class="article-block">
            <i class="fas fa-code article-block__icon"></i>
            <div class="article-block__text">
                <p class="article-block__text-title">Spacing helper</p>
                <p class="article-block__text-description">Customizable SCSS class generator for spacing units in web</p>
            </div>
        </a>
    </li>
    <li data-search-result="code">
        <a rel="noopener" href="https://gist.github.com/kieranmv95/cc4b711f86981469f06bff2d6c674004" class="article-block">
            <i class="fas fa-code article-block__icon"></i>
            <div class="article-block__text">
                <p class="article-block__text-title">Triangles Mixin</p>
                <p class="article-block__text-description">SCSS mixin to instantly make pure css triangles</p>
            </div>
        </a>
    </li>
    <li data-search-result="code">
        <a rel="noopener" href="https://github.com/chandru89new/cards.sass" class="article-block">
            <i class="fas fa-code article-block__icon"></i>
            <div class="article-block__text">
                <p class="article-block__text-title">Cards UI</p>
                <p class="article-block__text-description">Easy-to-use card UI for your app / project / website design.</p>
            </div>
        </a>
    </li>
    <li data-search-result="code">
        <a rel="noopener" href="https://gist.github.com/kieranmv95/8c5ff7fd0324814dcf69568bb1be370b" class="article-block">
            <i class="fas fa-code article-block__icon"></i>
            <div class="article-block__text">
                <p class="article-block__text-title">Center anything (without flex)</p>
                <p class="article-block__text-description">SASS mixin to center anything without flex</p>
            </div>
        </a>
    </li>
</ul>