<h2 class="h4">UX/DESIGN</h3>
<hr>
<ul class="list-unstyled">
    <li data-search-result="article">
        <a rel="noopener" href="https://medium.com/ux-in-motion/creating-usability-with-motion-the-ux-in-motion-manifesto-a87a4584ddc" class="article-block">
            <i class="fas fa-book article-block__icon"></i>
            <div class="article-block__text">
                <p class="article-block__text-title">Creating usability with motion guide</p>
                <p class="article-block__text-description">How to use motion correctly</p>
            </div>
        </a>
    </li>
    <li data-search-result="article"><a rel="noopener" href=""></a>
        <a rel="noopener" href="https://www.invisionapp.com/blog/use-microinteractions-improve-ux-design/" class="article-block">
            <i class="fas fa-book article-block__icon"></i>
            <div class="article-block__text">
                <p class="article-block__text-title">How microinteractions improve ux</p>
                <p class="article-block__text-description">How to improve UX</p>
            </div>
        </a>
    </li>
    <li data-search-result="article">
        <a rel="noopener" href="https://airbnb.design/sketching-interfaces/" class="article-block">
            <i class="fas fa-book article-block__icon"></i>
            <div class="article-block__text">
                <p class="article-block__text-title">Sketching Interfaces</p>
                <p class="article-block__text-description">How to pllan and sketh interfaces</p>
            </div>
        </a>
    </li>
    <li data-search-result="article">
        <a rel="noopener" href="https://medium.com/refactoring-ui/7-practical-tips-for-cheating-at-design-40c736799886" class="article-block">
            <i class="fas fa-book article-block__icon"></i>
            <div class="article-block__text">
                <p class="article-block__text-title">7 Practical Tips for Cheating at Design</p>
                <p class="article-block__text-description">7 Practical Tips for Cheating at Design</p>
            </div>
        </a>
    </li>
    <li data-search-result="article"><a rel="noopener" href=""></a>
        <a rel="noopener" href="https://www.amazon.co.uk/Stop-Stealing-Sheep-Find-Works/dp/0201703394" class="article-block">
            <i class="fas fa-book article-block__icon"></i>
            <div class="article-block__text">
                <p class="article-block__text-title">Stop stealing sheep</p>
                <p class="article-block__text-description">A book on how to typography</p>
            </div>
        </a>
    </li>
    <li data-search-result="website">
        <a rel="noopener" href="https://dribbble.com/" class="article-block">
            <i class="fas fa-globe article-block__icon"></i>
            <div class="article-block__text">
                <p class="article-block__text-title">Dribbble</p>
                <p class="article-block__text-description">A website which offers design inspiration</p>
            </div>
        </a>    
    </li>
    <li data-search-result="website">
        <a rel="noopener" href="http://www.goodweb.design/" class="article-block">
            <i class="fas fa-globe article-block__icon"></i>
            <div class="article-block__text">
                <p class="article-block__text-title">Goodweb</p>
                <p class="article-block__text-description">A website which offers design inspiration</p>
            </div>
        </a>
    </li>
    <li data-search-result="website">
        <a rel="noopener" href="https://www.flaticon.com/" class="article-block">
            <i class="fas fa-globe article-block__icon"></i>
            <div class="article-block__text">
                <p class="article-block__text-title">Flaticon</p>
                <p class="article-block__text-description">A website for free and paid icons</p>
            </div>
        </a>
    </li>
    <li data-search-result="website">
        <a rel="noopener" href="https://fontpair.co/" class="article-block">
            <i class="fas fa-globe article-block__icon"></i>
            <div class="article-block__text">
                <p class="article-block__text-title">FontPair</p>
                <p class="article-block__text-description">A website for pairing google fonts together</p>
            </div>
        </a>
    </li>
    <li data-search-result="website">
        <a rel="noopener" href="http://styleguides.io/" class="article-block">
            <i class="fas fa-globe article-block__icon"></i>
            <div class="article-block__text">
                <p class="article-block__text-title">Styleguides.io</p>
                <p class="article-block__text-description">A website showing example styleguides</p>
            </div>
        </a>
    </li>
    <li data-search-result="website">
        <a rel="noopener" href="https://tyffle.ml" class="article-block">
            <i class="fas fa-globe article-block__icon"></i>
            <div class="article-block__text">
                <p class="article-block__text-title">Tyffle</p>
                <p class="article-block__text-description">Try google fonts blazing fast</p>
            </div>
        </a>
    </li>
    <li data-search-result="webapp">
        <a rel="noopener" href="https://mydevice.io/devices/" class="article-block">
            <i class="fas fa-cogs article-block__icon"></i>
            <div class="article-block__text">
                <p class="article-block__text-title">MyDevice</p>
                <p class="article-block__text-description">Common widths of mobile devices</p>
            </div>
        </a>
    </li>
    <li data-search-result="webapp">
        <a rel="noopener" href="http://ami.responsivedesign.is/" class="article-block">
            <i class="fas fa-cogs article-block__icon"></i>
            <div class="article-block__text">
                <p class="article-block__text-title">Am I responsive</p>
                <p class="article-block__text-description">A screenshot generator for responsive image examples</p>
            </div>
        </a>
    </li>
</ul>