<h2 class="h4">UX/DESIGN</h3>
<hr>
<ul class="list-unstyled">
    <li data-search-result="article"><a rel="noopener" href="https://medium.com/ux-in-motion/creating-usability-with-motion-the-ux-in-motion-manifesto-a87a4584ddc">Creating usability with motion guide</a></li>
    <li data-search-result="website"><a rel="noopener" href="https://www.invisionapp.com/blog/use-microinteractions-improve-ux-design/">How microinteractions improve ux</a></li>
    <li data-search-result="webapp"><a rel="noopener" href="https://airbnb.design/sketching-interfaces/">Sketching Interfaces</a></li>
    <li data-search-result="code"><a rel="noopener" href="https://medium.com/refactoring-ui/7-practical-tips-for-cheating-at-design-40c736799886">7 Practical Tips for Cheating at Design</a></li>
    <li data-search-result="code"><a rel="noopener" href="https://www.amazon.co.uk/Stop-Stealing-Sheep-Find-Works/dp/0201703394">Stop stealing sheep</a></li>
    <li data-search-result="code"><a rel="noopener" href="https://dribbble.com/">Dribbble</a></li>
    <li data-search-result="code"><a rel="noopener" href="http://www.goodweb.design/">goodweb</a></li>
    <li data-search-result="article"><a rel="noopener" href="https://www.flaticon.com/">Flaticon</a></li>
    <li data-search-result="website"><a rel="noopener" href="https://fontpair.co/">Fontpair</a></li>
    <li data-search-result="webapp"><a rel="noopener" href="http://styleguides.io/">Styleguides.io</a></li>
    <li data-search-result="code"><a rel="noopener" href="https://tyffle.ml">Tyffle</a></li>
    <li data-search-result="code"><a rel="noopener" href="https://mydevice.io/devices/">MyDevice</a></li>
    <li data-search-result="code"><a rel="noopener" href="http://ami.responsivedesign.is/">Am i responsive</a></li>
</ul>