<footer class="footer mt-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-8">
                <div class="footer-created">
                    <div class="footer-created__img-holder">
                        <img class="footer-created__img" data-src="https://avatars3.githubusercontent.com/u/6731486?s=400&u=44a558ebcabd83f60897a9596906bbef7f86a459&v=4" alt="kieran venison logo">
                    </div>
                    <div class="footer-created__text">
                        <p class="h6 text-light">Front end wizard</p>
                        <p class="text-light">Created with love by Kieran Venison</p>
                    </div>
                </div>
            </div>
            <div class="col-8 col-sm-4 col-md-3 offset-md-1 col-lg-2 offset-lg-2">
                <div class="social">
                    <div class="social__icon-holder">
                        <a rel="noopener" href="https://twitter.com/kieranmv95?lang=en-gb" target="_blank"><img data-src="assets/images/social/tw.svg" alt="twitter logo" class="social__icon"></a>
                    </div>
                    <div class="social__icon-holder">
                        <a rel="noopener" href="https://github.com/kieranmv95" target="_blank"><img data-src="assets/images/social/gh.svg" alt="github logo" class="social__icon"></a>
                    </div>
                    <div class="social__icon-holder">
                        <a rel="noopener" href="https://www.linkedin.com/in/kieran-venison-9a4aa292/" target="_blank"><img data-src="assets/images/social/li.svg" alt="linkedin logo" class="social__icon social__icon--large"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>