<script>
    document.addEventListener("DOMContentLoaded", function() {
       var lazyImages = [].slice.call(document.querySelectorAll("img[data-src]"));

       if ("IntersectionObserver" in window) {
           var lazyImageObserver = new IntersectionObserver(function(entries, observer) {
               entries.forEach(function(entry) {
                   if (entry.isIntersecting) {
                       var lazyImage = entry.target;
                       lazyImage.src = lazyImage.dataset.src;
                       lazyImage.onload = function() {
                           lazyImage.removeAttribute('data-src');
                           lazyImageObserver.unobserve(lazyImage);
                       }
                   }
                   
               });
           });

           lazyImages.forEach(function(lazyImage) {
               lazyImageObserver.observe(lazyImage);
           });
       } else {
           [].forEach.call(document.querySelectorAll('img[data-src]'), function(img) {
               img.setAttribute('src', img.getAttribute('data-src'));
               img.onload = function() {
                   img.removeAttribute('data-src');
               };
           });
       }
   });
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.12/js/all.js" integrity="sha384-Voup2lBiiyZYkRto2XWqbzxHXwzcm4A5RfdfG6466bu5LqjwwrjXCMBQBLMWh7qR" crossorigin="anonymous"></script>
<script src="assets/scripts/master.js"></script> 