<section class="search mt-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
                <p class="h5 text-center text-light"><span id="results-count"></span> links to explore</p>
                <div class="search__filter-list">
                    <div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="article" data-search-filter="article">
                            <label class="form-check-label badge badge-pill badge-light" for="article">
                                Article
                            </label>
                        </div>
                    </div>
                    <div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="webapp" data-search-filter="webapp" data-search-filter="webapp">
                            <label class="form-check-label badge badge-pill badge-light" for="webapp">
                                Web Application
                            </label>
                        </div>
                    </div>
                    <div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="website" data-search-filter="website">
                            <label class="form-check-label badge badge-pill badge-light" for="website">
                                Website
                            </label>
                        </div>
                    </div>
                    <div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="softwareCheck" data-search-filter="software">
                            <label class="form-check-label badge badge-pill badge-light" for="softwareCheck">
                                Software
                            </label>
                        </div>
                    </div>
                    <div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="code" data-search-filter="code">
                            <label class="form-check-label badge badge-pill badge-light" for="code">
                                Gist / Code example / Repository
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>