@import 'partials/variables';
@import 'partials/mixins';
@import 'partials/header';
@import 'partials/search';
@import 'partials/badge';
@import 'partials/social';
@import 'partials/footer';
@import 'partials/article-block';
@import 'partials/loading-spinner';
@import 'partials/no-results';