// Search section

.search {
    padding: 50px 0;
    background-image: linear-gradient(
        135deg,
        var(--color-blue),
        var(--color-purple)
    );
}


// Search filters
.search__filter-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.search__filter-list input {
    display: none;
}

.search__filter-list .form-check {
    padding: 0;
}

.search__filter-list .form-check-label {
    padding: .5em 1em;
    margin-top: 10px;
    cursor: pointer;
    transition: transform var(--animation-timing) cubic-bezier(0.41, -0.14, 0.69, 1.97);
    transform: scale(1);
}

.search__filter-list input:checked + .form-check-label {
    background-color: var(--color-dark);
    color: white;
    transform: scale(1.1);
}