.social {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    @include m-breakpoint($bp-sm) {
        margin-top: 0;
    }
}

.social__icon-holder {
    flex: 1;
    display: flex;
    @include m-breakpoint($bp-sm) {
        justify-content: flex-end;
    }
}

.social__icon {
    width: 40px;
}

.social__icon--large {
    width: 30px;
}